.footer{
    background-color: #222222;
}
.footer_title{
    color: #C2C2C2;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.footer_text{
    color: #999999;
    text-align: center;
    font-size: 12px;
    padding-bottom: 37px;
}